services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile

    ports:
      - "127.0.0.1:8888:8888"
    volumes:
      - .:/workspace:cached

    environment:
      - PYTHONUNBUFFERED=1

